{% extends "shop/base.html" %} 
{% load static %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>





 
{% include "shop/header.html" %} 

{% if request.GET.q %}
  

<h1 class="heading " ><span class="text-muted">Search result for  {{request.GET.q}}</span></h1>

{% else %}
<h1 class="heading"><span>ALL PRODUCTS</span></h1>

{% endif %}

<section class="product" id="product" name="product">
  <div class="box-container">

    
 
    {% for iteam in product %}
      
  
    <div class="box">
      {% if iteam.Discount %}
        
   
       <div class="icons"> 
        <a href="#">-{{iteam.Discount}}%</a>
       
      </div>
      {% endif %}
    
      <a href="{% url 'content' iteam.id %}"><img src="/shop/{{iteam.image}}" alt="" /></a>
    
      <h3>{{iteam.name}}</h3>
      <p>{{iteam.description}}</p>
     
      <div class="price">${{iteam.Currentprice}}/Kg
        {% if iteam.Discount %}
         <span>${{iteam.Oldprice}}/Kg</span>
         {% endif %}
        </div>
        
      <div class="quantity">
      <span>Quantity</span>
      <input type="number" min="1" max="1000" value="1" />
      <span>/Kg</span>
    </div>
      {% if user.is_authenticated and user.is_superuser %}
  
      <a href="{% url 'editproduct'  iteam.id %}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
      <a href="{% url 'deleteproduct' iteam.id %}" class="btn"><i class="fa-solid fa-trash"></i></a>
      {% else %}
      <a href="#" class="btn">ADD TO CART</a>

      
       {% endif %}
     
      

    </div>
    {% endfor %}  

  </div>
</section>
{% include "home/base.html" %}

{% endblock content %}

