{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="{% static 'css/shop2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/onepage.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4d8456b076.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="{% static 'js/shop.js' %}"></script>
  <title>Market</title>
</head>

<body >
  <!---navbar-->
  <section class="header">
    <nav class="navbar navbar-expand-lg   fixed-top bg-none bg-light" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'images/home/logoo.png' %}" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
           
          
            <a class="nav-link active text-success " aria-current="page" href="{% url 'home' %}" name="home"><i
                class="fa-solid fa-house-user "></i>Home</a>
            <a class="nav-link  " aria-current="page" href="{% url 'shop' %}"><i class="fa-solid fa-store"></i>Shop</a>
            <a class="nav-link  " aria-current="page" href="{% url 'blog' %}"><i class="fa-solid fa-blog"></i>Blog</a>
            <a class="nav-link  " aria-current="page" href="{% url 'recipe' %}"><i class="fa-solid fa-bowl-rice"></i>Recepie</a>
            {% if user.is_authenticated %}
           <!-- Example single danger button -->
           

           <!-- <a class="nav-link  " aria-current="page" href="{% url 'logout' %}" ><i class="fa-solid fa-arrow-right-from-bracket"></i>LogOut</a> -->
           <div class="dropdown">
            <!-- <img class=" btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" src="/static/images/home/user.png" height="50px" width="50px-"> -->
            <a class="nav-link btn-secondary dropdown-toggle "type="button"  aria-current="page" data-bs-toggle="dropdown"  aria-expanded="false" href="#"><i class="fa-solid fa-user"></i>User</a>
            <ul class="dropdown-menu">
              <img src="/static/images/home/farmer.jpeg" alt="" height="200px" width="230px">

              <!-- <li><a class="dropdown-item" href="#">{{user.profile.user}}</a></li> -->
              <p class="dropdown-item">{{user.profile.user}}</p>
              <li><a class="dropdown-item" href="#">profile</a></li>

              <li><a class="dropdown-item" href="{% url 'logout' %}">log-out <i class="fa-solid fa-right-to-bracket"></i></a> </li>
              
            </ul>
          </div>
           <!-- <div class="dropdown" style="border-radius: 100%; height: 50px; width: 50px; border: none;">
            <a class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"style="border-radius: 100%; height: 50px; width: 50px; border: none;">
             <img src="{% static 'images/shop/farms.jpg' %}" style="border-radius: 100%; height: 50px; width: 50px;">
               <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'logout' %}" class="nav-link" aria-current="page">logout</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 2</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 3</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 4</a></li>
            </ul>
          </div> -->
        
        
           

           
            {% else %}
            <a class="nav-link  " aria-current="page" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>Login/Signup</a>
            {% endif %}
        
          </div>
          </div>
        </div>
      </div>
    </nav>
  </section>
  {% block content %}
    
  {% endblock content %}
  