{% load static %}
<section class="category" id="category" >

  <h1 class="heading">shop by<span>category</span></h1>
  

  <div class="box-container container" >
    {% for cate in Catagory  %}
      
  
    <div class="box card rounded-2"  >
      <h3>{{cate.name}}</h3>
      <!-- <p>up to {{cate.discount}} off</p> -->
      <img src="{{cate.image}}" alt="" />
     
      {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'editcategory' cate.id %}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
      <a href="{% url 'deletecategory' cate.id %}" class="btn"><i class="fa-solid fa-trash"></i></a>


      {% endif %}
    

      <a href="{% url 'productsiteams' cate.slug %}" class="btn"><i class="fa-solid fa-eye"></i></a>
      
    </div>
    {% endfor %}
    {% if user.is_authenticated and user.is_superuser %}

    <a href="{% url 'addcategory' %}" class="btncategory"><i class="fa-solid fa-plus"></i></a>
    {% endif %}

    
    
  </div>
</section>