{% extends "shop/base.html" %}

{% load static %}
{% block content %}
{% include "shop/header.html" %}
{% include "shop/banner.html" %}

<h1 class="heading">DEALS OF THE <span>DAY</span></h1>
{% include "shop/deals.html" %}
{% include "shop/categories.html" %}
{% include "shop/latestproducts.html" %}
    <!---home-->
   

    <section class="deal" id="deal">
      <div class="content">
        <h3 class="title">
          Deal of the day
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut qui incidunt tempora illo maxime aliquid sint saepe inventore sit accusantium.</p>
      <div class="count-down">
        <div class="box">
          <h3 id="day">00</h3>
          <span>day</span>
        </div>
        <div class="box">
          <h3 id="hour">00</h3>
          <span>day</span>
        </div>
        <div class="box">
          <h3 id="minute">00</h3>
          <span>minute</span>
        </div>
        <div class="box">
          <h3 id="second">00</h3>
          <span>second</span>
        </div>
      </div>
      <a href="#" class="btn">Check the deals</a>
      
      </div>
    </section>
 <section class="contact" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>
  <form action="">
    <div class="inputbox">
    <input type="text" placeholder="name">
    <input type="email" placeholder="email">

  </div>


  <div class="inputbox">
    <input type="number" placeholder="number">
    <input type="text" placeholder="subject">

  </div>
  <textarea name="" id="" cols="30" rows="10" placeholder="messege"></textarea>
  <input type="submit" value="send messege" class="btn">
  </form>
 </section>
 <section class="newsletter">
  <h3>Subscribe us for latest updates</h3>
  <form action="">
    <input type="email" class="box" placeholder="enter your email">
    <input type="submit" class="btn" value="subscribe">
  </form>

 </section>
  <!-- Footer -->
  {% include "home/base.html" %}

 </section>
    <script src="{% static 'js/shop2.js' %}"></script>
  </body>
</html>
{% endblock content %}
