{% extends "shop/base.html" %}

{% load static %}
{% block content %}
<style>
  .contact{
    margin-bottom: 50px;
  }
</style>
{% include "shop/header.html" %}
{% include "shop/banner.html" %}

<h1 class="heading">DEALS OF THE <span>DAY</span></h1>
{% include "shop/deals.html" %}
{% include "shop/categories.html" %}
{% include "shop/latestproducts.html" %}
    <!---home-->
   

  
 <!-- <section class="contact" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>
  <form action="">
    <div class="inputbox">
    <input type="text" placeholder="name">
    <input type="email" placeholder="email">

  </div>


  <div class="inputbox">
    <input type="number" placeholder="number">
    <input type="text" placeholder="subject">

  </div>
  <textarea name="" id="" cols="30" rows="10" placeholder="messege"></textarea>
  <input type="submit" value="send messege" class="btn">
  </form>
 </section> -->
 
  <!-- Footer -->
  {% include "home/base.html" %}

 </section>
    <script src="{% static 'js/shop2.js' %}"></script>
  </body>
</html>
{% endblock content %}
