<section class="baner">
  <!-- banner -->
  <div class="p-5 text-center bg-image rounded-3" style="
background-image: url(/static/images/shop/custom-bg.jpg);
height: 400px;
background-repeat: none; background-size: cover; background-position: center;" >
   
      <div class="d-flex justify-content-center align-items-center h-100 ">
        <div class="text-white" style="display: flex;">
          <div class="bannercontent">
            <h1 class="mb-4">PRODUCTS</h1>
            <h4 class="mb-4">Direct From Farmers</h4>
          </div>
         
         


          </div>
        </div>
      </div>
    
  </div>
  
</section>