
<div class="conatiner">
  <div class="grid">
    <article>
      <img src="./images/farms.jpg" width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    <article>
      <img src="./images/farms.jpg"width="300px" height="300px">
      <div class="content">
        <h2>apprsfd</h2>
        <p>fsdfsd</p>
      </div>
    </article>
    
    
    
  </div>
</div>
