<section class="category" id="category">
  <h1 class="heading">shop by<span>category</span></h1>
  <div class="box-container">
    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="/static/images/shop/meat.jpeg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>

    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="./images/carrot.jpg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>

    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="./images/carrot.jpg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>

    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="./images/carrot.jpg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>
    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="./images/carrot.jpg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>
    <div class="box">
      <h3>Vegitables</h3>
      <p>up to 50% off</p>
      <img src="./images/carrot.jpg" alt="" />
      <a href="#" class="btn">shop now</a>
    </div>
  </div>
</section>