{% load static %}
<section class="banner-container">
  <div class="banner">
    <img src="./images/carrot.jpg" alt="" />
    <div class="content">
      <h3>Speacal offer</h3>
      <p>up to 45% off</p>
      <a href="#" class="btn"> check out</a>
    </div>
  </div>
  <div class="banner">
    <img
      src="./images/[removal.ai]_f85a0a7e-f6be-4aa3-97b0-d09aacc3ad35-pexels-anna-tukhfatullina-food-photographerstylist-2611818.png"
      alt=""
    />
    <div class="content">
      <h3>Speacal offer</h3>
      <p>up to 55% off</p>
      <a href="#" class="btn"> check out</a>
    </div>
  </div>
  <div class="banner">
    <img
      src="./images/[removal.ai]_f85a0a7e-f6be-4aa3-97b0-d09aacc3ad35-pexels-anna-tukhfatullina-food-photographerstylist-2611818.png"
      alt=""
    />
    <div class="content">
      <h3>Speacal offer</h3>
      <p>up to 55% off</p>
      <a href="#" class="btn"> check out</a>
    </div>
  </div>
  <div class="banner">
    <img
      src="./images/[removal.ai]_f85a0a7e-f6be-4aa3-97b0-d09aacc3ad35-pexels-anna-tukhfatullina-food-photographerstylist-2611818.png"
      alt=""
    />
    <div class="content">
      <h3>Speacal offer</h3>
      <p>up to 55% off</p>
      <a href="#" class="btn"> check out</a>
    </div>
  </div>
</section>