{% extends "shop/base.html" %}
{% block content %}
  
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>

        


<div class="card rounded-3 mb-4"  >
          <div class="card-body p-4" id='main'>

          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg" onClick ="clearStorage()" >Proceed to Pay</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
var retrievedCartData = JSON.parse(localStorage.getItem("cart"));




let ul = document.createElement('ul')
let main = document.getElementById('main')



retrievedCartData.forEach((i)=>{

  if (i.productName){
let li = document.createElement('li')

let h1 = document.createElement('h1')
let p =  document.createElement('p')
let div = document.createElement('div')
let nameDiv = document.createElement('div')
let priceDiv = document.createElement('div')
console.log(i)
var textNode = document.createTextNode(i.productName);
var price = document.createTextNode(i.productPrice);
h1.appendChild(textNode) 
p.appendChild(price)
div.classList.add('row','d-flex','justify-content-between','align-items-center')
nameDiv.classList.add('col-md-3','col-lg-3','col-xl-3')
priceDiv.classList.add('col-md-3','col-lg-2','col-xl-2','offset-lg-1')

nameDiv.appendChild(h1)
priceDiv.appendChild(p)

div.appendChild(nameDiv)
div.appendChild(priceDiv)

li.classList.add('card' ,'rounded-3' ,'mb-4')
li.appendChild(div) 


ul.appendChild(li) 
  }
  

})
ul.style.listStyle = "none"
console.log(ul)
main.appendChild(ul)


function clearStorage(){
  alert('working')
  localStorage.removeItem('cart');
}

</script>

   
{% include "home/base.html" %}
{% endblock content %}
