* {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  

}


.header {
  /* border: 1px solid rgb(0, 195, 255); */
  height: 80px;
}

body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;


}

.navbar-collapse {
  align-items: center;
  padding-left: 500px;
  justify-content: space-between;

}

.navbar-brand {
  margin-left: 50px;
}

.navbar-brand a {
  text-decoration: none;
  color: #7fb825;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
}


.nav-link {
  margin-left: 80px;
  justify-content: space-between;
  color: #7fb825;

  font-size: 300px;



}

/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#7fb825;
} */


/* .navbar { */
/* background-image: linear-gradient(to right,black,rgb(129, 201, 56)); */
/* background-color:rgb(122, 176, 14);
   background-image: linear-gradient(to right,black,rgb(122, 176, 14)); */
/* background-color: #7fb825;
  top: 0;
  position: sticky; */
/* 
} */

.navbar-scrolled {
  background-color: #ffffff;
  color: #7fb825;
  /* Adjust the alpha value for transparency */
  transition: background-color 0.3s ease-in-out;
}

.nav-link {
  color: #7fb825;
}

.active {
  color: #7fb825;
}

.navbar-nav a {
  color: #7fb825;
}
.searchbox {
  /* border: 1px solid red; */
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color:#7fb825;

}

.searchbox .search {
  width: 850px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  border: none;
  background-color: rgb(231, 229, 229);
  text-align: center;
  color:black
 

}


.searchbox button {
  height: 50px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  width: 70px;
  background-color: #ffffff;
  color:#7fb825
 
}
.searchbox button:hover{
  color: #000000;
  background-color:#7fb825;
  color: white;
  border: 3px solid white;
  width: 75px;
}
.products-heading{
  color: #7fb825  ;
  font-family:Poppins;
}
.categories{
  height: 50px;
  display: flex;
   align-items: center;
  justify-content: center;
  margin-top: 10px;
  
  
} 

.category-iteam{
  height: 40px;

 color: #7fb825;
  width: 130px;
  /* border: 1px solid  #7fb825; */
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

   
}
 
  
.category-iteam a{
  text-decoration: none;


  border-radius: 10px;
  user-select: none;
  color: #7fb825;
  

 
}


.category-iteam:focus-within{
  
  background-color:#ddffa6;






  } 
  /* .products{

    border: 1px solid red;
    height: 800px;
    position: relative;
    margin-top: 30px;
    display: block;
    row-gap: 300px;











  }
.product{
  border: 1px solid red;
    max-width: 900px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    display: grid;
    
    
}
.one{
  background-color: red;
  height: 100px;
  width: 100px;
  margin-top:30px;
  margin-left:60px;
  
}
 

 */
 .grid{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  margin: 80px;
  align-items: center;
  grid-gap: 100px;
  
 }
 .conatiner{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
 }
  .grid article{
  border: 1px solid red;
  border-radius: 30px;
  box-shadow: 10px 5px 5px 0px  black;
  text-align: center;
  width: 300px;
  background-color: whitesmoke;
  transition: transform;
 }
 .grid article img{
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
  
 }
 .grid article .content h2{
  text-transform: uppercase;

 }
 .grid article:hover{
  /* transform: rotate(10deg); */
  transform: scale(1.1);
 }
 @media (max-width:1000px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
 }
 @media (min-width:1200px){
  .grid{
    grid-template-columns: repeat(4,1fr);
  }
 }
 @media (max-width: 600px){
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
  .category-iteam{
    margin-left: 2px;
    font-size: 10px;
  }
 }
