{% load static %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active fade-in-down" data-bs-interval="2000" data-bs-ride="true">
      <img src="{% static 'images/home/beef.png' %}" class="d-block w-100" alt="..." />
      <h1>100% Fresh Meat</h1>
      <p>We Serve Fresh Meat Direct From Farm</p>
      <button>Explore</button>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/home/cow.jpg' %}" class="d-block w-100" alt="..." />
      <h1>100% Fresh Meat</h1>
      <p>We Serve Fresh Meat Direct From Farm</p>
      <button>Explore</button>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/home/egg2.png' %}" class="d-block w-100" alt="..." />
      <h1>100% Fresh Meat</h1>
      <p>We Serve Fresh Meat Direct From Farm</p>
      <button>Explore</button>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/home/vegi.jpg' %}" class="d-block w-100" alt="..." />
      <h1>100% Fresh Meat</h1>
      <p>We Serve Fresh Meat Direct From Farm</p>
      <button>Explore</button>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/home/m.png' %}" class="d-block w-100" alt="..." />
      <h1>100% Fresh Meat</h1>
      <p>We Serve Fresh Meat Direct From Farm</p>
      <button>Explore</button>
    </div>
     
  </div>
  <div class="icons p-1">
    <div class="icon">
      <img src="{% static 'images/home/shipping-removebg-preview.png' %}">
      <h6>FREE SHIPPING</h6>
      
    </div>
    <div class="icon">
      <img src="{% static 'images/home/shipping-removebg-preview.png' %}">
      <h6>ALWAYS FRESH</h6>
    

    </div>
    <div class="icon">
      <img src="{% static 'images/home/shipping-removebg-preview.png' %}" alt="">
      <h6>SUPERIOR QUALITY</h6>
      

    </div>

    <div class="icon">
      <img src="{% static 'images/home/shipping-removebg-preview.png' %}">
      <h6>24/7 SUPPORT</h6>
      
    </div>
  </div>
</div>