{% load static %}
<section class="review">
  <h3>What Our Clints Say...</h3>
  <div class="testimonial-grid">


    <div class="testimonial-container">
      <div class="testimonial-avatar">
        <img src="{% static 'images/home/user.png' %}" alt="User Avatar">
      </div>
      <div class="testimonial-text">
        <p class="testimonial-name">Michael Thompson</p>
        <p class="testimonial-role">Marketing Manager, Axme Inc.</p>
        <p>"The results we've achieved using this platform's marketing services are exceptional.
          Our campaigns are more effective, and the team's insights are invaluable."</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
    <!-- Testimonial containers... -->
    <div class="testimonial-container">
      <div class="testimonial-avatar">
        <img src="{% static 'images/home/user.png' %}" alt="User Avatar">
      </div>
      <div class="testimonial-text">
        <p class="testimonial-name">Chris Doe</p>
        <p class="testimonial-role">CEO at XYZ</p>
        <p>"A Computer Science graduate who likes to make things simpler.
          When he's not working, you can find him surfing the web,
          learning facts, tricks and life hacks. He also enjoys
          movies in his leisure time."</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked" ></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
    <!-- Testimonial containers... -->
    <div class="testimonial-container">
      <div class="testimonial-avatar">
        <img src="{% static 'images/home/user.png' %}" alt="User Avatar">
      </div>
      <div class="testimonial-text">
        <p class="testimonial-name">John Doe</p>
        <p class="testimonial-role">CEO at ABC Company</p>
        <p>"The results we've achieved using this platform's marketing services are exceptional.
          Our campaigns are more effective, and the team's insights are invaluable."</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="testimonial-container">
      <div class="testimonial-avatar">
        <img src="{% static 'images/home/user.png' %}" alt="User Avatar">
      </div>
      <div class="testimonial-text">
        <p class="testimonial-name">John Doe</p>
        <p class="testimonial-role">CEO at ABC Company</p>
        <p>"The results we've achieved using this platform's marketing services are exceptional.
          Our campaigns are more effective, and the team's insights are invaluable."</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    
  </div>
</section>